:root {
	--white: #ffffff;
	--font-family: 'Nunito', sans-serif;
	--main: #009adb;
	--accent: #008fcd;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
